* {
margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body{
	font-family: poppins;
	font-size: 16px;
	color: #fff;
                   background-image:url("https://i.pinimg.com/736x/e0/41/f6/e041f6273953dd89092ad8ce15702350.jpg");
                   background-size:cover;
}
.signup_box{
 position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;

  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px #000;
width:490px;
height:600px;
}
.signup_box header{
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}

.button
{
width: 250px;
padding: 10px;
border-radius: 7px;
outline: 0px;
color:black;
}
#but
{
color:white;
font-size:18px;
}
.mfo
{
text-align:left;
}
.reg
{
width: 250px;
padding: 10px;
border-radius: 5px;
outline: 0px;
background-color: red;
 border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}
.login{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.login a{
  color: red;
  text-decoration: none;
}
.login a:hover{
  text-decoration: underline;
}