body {
            margin: 0;
            padding: 0;
			list-style:none;
			text-decoration:none;
font-family:montserrat;
background-image:url("https://preview.pixlr.com/images/800wm/1143/1/1143125344.jpg");
background-size: cover;
background-position: center center;
}
.b
{font-weight:bold;
}
p{
font-size:20px;
}
.h1 {
            font-size:40px;
            color:#0B0B42;
            font-weight:bold;
            font-family:Arial Black;
        }
        .h2 {
            font-size:17px;
            margin-left:10px;
            color:#10678F;
             font-weight:bold;
           font-family:Times new roman;
            margin-bottom:15px;
        }
		h2{
			color:#0E016B;
		}

.menu_bar
{background-color:#0E016B;
height:80px;
width:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 5%;
}

.navbar {
  overflow: hidden;
  background-color: #060564 ;
text-transform:uppercase;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}